basePath: /v1
definitions:
  types.City:
    properties:
      coord:
        $ref: '#/definitions/types.Coord'
      country:
        type: string
      id:
        type: integer
      name:
        type: string
      population:
        type: integer
      sunrise:
        type: integer
      sunset:
        type: integer
      timezone:
        type: integer
    type: object
  types.Clouds:
    properties:
      all:
        type: integer
    type: object
  types.Coord:
    properties:
      lat:
        type: number
      lon:
        type: number
    type: object
  types.DailyForecast:
    properties:
      apparent_temperature_max:
        items:
          type: number
        type: array
      apparent_temperature_min:
        items:
          type: number
        type: array
      time:
        items:
          type: string
        type: array
      weather_code:
        items:
          type: integer
        type: array
    type: object
  types.DailyUnits:
    properties:
      apparent_temperature_max:
        type: string
      apparent_temperature_min:
        type: string
      time:
        type: string
      weather_code:
        type: string
    type: object
  types.ForecastItem:
    properties:
      clouds:
        $ref: '#/definitions/types.Clouds'
      dt:
        type: integer
      dt_txt:
        type: string
      main:
        $ref: '#/definitions/types.Main'
      pop:
        type: number
      sys:
        $ref: '#/definitions/types.Sys'
      visibility:
        type: integer
      weather:
        items:
          $ref: '#/definitions/types.Weather'
        type: array
      wind:
        $ref: '#/definitions/types.Wind'
    type: object
  types.ForecastResponse:
    properties:
      city:
        $ref: '#/definitions/types.City'
      cnt:
        type: integer
      cod:
        type: string
      list:
        items:
          $ref: '#/definitions/types.ForecastItem'
        type: array
      message:
        type: integer
    type: object
  types.HourlyForecast:
    properties:
      temperature_2m:
        items:
          type: number
        type: array
      time:
        items:
          type: string
        type: array
    type: object
  types.HourlyUnits:
    properties:
      temperature_2m:
        type: string
      time:
        type: string
    type: object
  types.Main:
    properties:
      feels_like:
        type: number
      grnd_level:
        type: integer
      humidity:
        type: integer
      pressure:
        type: integer
      sea_level:
        type: integer
      temp:
        type: number
      temp_kf:
        type: number
      temp_max:
        type: number
      temp_min:
        type: number
    type: object
  types.OpenMeteoResponse:
    properties:
      daily:
        $ref: '#/definitions/types.DailyForecast'
      daily_units:
        $ref: '#/definitions/types.DailyUnits'
      elevation:
        type: number
      generationtime_ms:
        type: number
      hourly:
        $ref: '#/definitions/types.HourlyForecast'
      hourly_units:
        $ref: '#/definitions/types.HourlyUnits'
      latitude:
        type: number
      longitude:
        type: number
      timezone:
        type: string
      timezone_abbreviation:
        type: string
      utc_offset_seconds:
        type: integer
    type: object
  types.Sys:
    properties:
      pod:
        type: string
    type: object
  types.Weather:
    properties:
      description:
        type: string
      icon:
        type: string
      id:
        type: integer
      main:
        type: string
    type: object
  types.WeatherResponse:
    properties:
      clouds:
        $ref: '#/definitions/types.Clouds'
      cod:
        type: integer
      coord:
        $ref: '#/definitions/types.Coord'
      dt:
        description: Timestamp
        type: integer
      main:
        properties:
          feels_like:
            type: number
          grnd_level:
            type: integer
          humidity:
            type: integer
          pressure:
            type: integer
          sea_level:
            type: integer
          temp:
            type: number
          temp_max:
            type: number
          temp_min:
            type: number
        type: object
      name:
        type: string
      sys:
        properties:
          country:
            type: string
          sunrise:
            type: integer
          sunset:
            type: integer
        type: object
      timezone:
        type: integer
      visibility:
        type: integer
      weather:
        items:
          $ref: '#/definitions/types.Weather'
        type: array
      wind:
        $ref: '#/definitions/types.Wind'
    type: object
  types.Wind:
    properties:
      deg:
        type: integer
      gust:
        type: number
      speed:
        type: number
    type: object
  users.LoginUserPayload:
    properties:
      email:
        maxLength: 255
        type: string
      password:
        maxLength: 72
        minLength: 3
        type: string
    required:
    - email
    - password
    type: object
  users.RegisterUserPayload:
    properties:
      email:
        maxLength: 255
        type: string
      password:
        maxLength: 72
        minLength: 3
        type: string
      username:
        maxLength: 100
        type: string
    required:
    - email
    - password
    - username
    type: object
  users.Role:
    properties:
      description:
        type: string
      id:
        type: integer
      level:
        type: integer
      name:
        type: string
    type: object
  users.User:
    properties:
      created_at:
        type: string
      email:
        type: string
      id:
        type: integer
      is_active:
        type: boolean
      role:
        $ref: '#/definitions/users.Role'
      role_id:
        type: integer
      username:
        type: string
    type: object
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: API for fetching weather data
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Weather API
paths:
  /health:
    get:
      description: Healthcheck endpoint
      produces:
      - application/json
      responses:
        "200":
          description: ok
          schema:
            type: string
      summary: Healthcheck
      tags:
      - ops
  /users/login:
    post:
      consumes:
      - application/json
      description: Authenticates a user with email and password, and returns a JWT
        token upon successful login
      parameters:
      - description: User login credentials
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/users.LoginUserPayload'
      produces:
      - application/json
      responses:
        "201":
          description: JWT token
          schema:
            type: string
        "400":
          description: Bad Request
          schema: {}
        "401":
          description: Unauthorized
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      summary: Logs in a user
      tags:
      - users
  /users/register:
    post:
      consumes:
      - application/json
      description: Creates a new user account with a username, email, and password
      parameters:
      - description: New user registration data
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/users.RegisterUserPayload'
      produces:
      - application/json
      responses:
        "201":
          description: Created user object
          schema:
            $ref: '#/definitions/users.User'
        "400":
          description: Bad Request
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      summary: Registers a new user
      tags:
      - users
  /weather/{city}:
    get:
      consumes:
      - application/json
      description: Fetches the current weather data for a specified city
      parameters:
      - description: City Name
        in: path
        name: city
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/types.WeatherResponse'
        "400":
          description: Bad Request
          schema: {}
        "404":
          description: Not Found
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      summary: Fetches current weather by city
      tags:
      - weather
  /weather/coords/{latitude}/{longitude}:
    get:
      consumes:
      - application/json
      description: Fetches the current weather data for a specified latitude and longitude
      parameters:
      - description: Latitude
        in: path
        name: latitude
        required: true
        type: string
      - description: Longitude
        in: path
        name: longitude
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/types.WeatherResponse'
        "400":
          description: Bad Request
          schema: {}
        "404":
          description: Not Found
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      summary: Fetches current weather by coordinates (latitude and longitude)
      tags:
      - weather
  /weather/forecast/{city}:
    get:
      consumes:
      - application/json
      description: Fetches the weather forecast data for a specified city
      parameters:
      - description: City Name
        in: path
        name: city
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/types.ForecastResponse'
        "400":
          description: Bad Request
          schema: {}
        "404":
          description: Not Found
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      summary: Fetches weather forecast by city
      tags:
      - weather
  /weather/forecast/coords/{latitude}/{longitude}:
    get:
      consumes:
      - application/json
      description: Fetches the weather forecast data for a specified latitude and
        longitude
      parameters:
      - description: Latitude
        in: path
        name: latitude
        required: true
        type: string
      - description: Longitude
        in: path
        name: longitude
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/types.ForecastResponse'
        "400":
          description: Bad Request
          schema: {}
        "404":
          description: Not Found
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      summary: Fetches weather forecast by coordinates (latitude and longitude)
      tags:
      - weather
  /weather/open-meteo/coords/{latitude}/{longitude}:
    get:
      consumes:
      - application/json
      description: Fetches the open meteo data for a specified latitude and longitude
      parameters:
      - description: Latitude
        in: path
        name: latitude
        required: true
        type: string
      - description: Longitude
        in: path
        name: longitude
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/types.OpenMeteoResponse'
        "400":
          description: Bad Request
          schema: {}
        "404":
          description: Not Found
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      summary: Fetches open meteo by coordinates (latitude and longitude)
      tags:
      - weather
securityDefinitions:
  ApiKeyAuth:
    description: API key authentication for accessing weather data
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
