basePath: /v1
definitions:
  types.City:
    properties:
      coord:
        $ref: '#/definitions/types.Coord'
      country:
        type: string
      id:
        type: integer
      name:
        type: string
      population:
        type: integer
      sunrise:
        type: integer
      sunset:
        type: integer
      timezone:
        type: integer
    type: object
  types.Clouds:
    properties:
      all:
        type: integer
    type: object
  types.Coord:
    properties:
      lat:
        type: number
      lon:
        type: number
    type: object
  types.ForecastItem:
    properties:
      clouds:
        $ref: '#/definitions/types.Clouds'
      dt:
        type: integer
      dt_txt:
        type: string
      main:
        $ref: '#/definitions/types.Main'
      pop:
        type: number
      sys:
        $ref: '#/definitions/types.Sys'
      visibility:
        type: integer
      weather:
        items:
          $ref: '#/definitions/types.Weather'
        type: array
      wind:
        $ref: '#/definitions/types.Wind'
    type: object
  types.ForecastResponse:
    properties:
      city:
        $ref: '#/definitions/types.City'
      cnt:
        type: integer
      cod:
        type: string
      list:
        items:
          $ref: '#/definitions/types.ForecastItem'
        type: array
      message:
        type: integer
    type: object
  types.Main:
    properties:
      feels_like:
        type: number
      grnd_level:
        type: integer
      humidity:
        type: integer
      pressure:
        type: integer
      sea_level:
        type: integer
      temp:
        type: number
      temp_kf:
        type: number
      temp_max:
        type: number
      temp_min:
        type: number
    type: object
  types.Sys:
    properties:
      pod:
        type: string
    type: object
  types.Weather:
    properties:
      description:
        type: string
      icon:
        type: string
      id:
        type: integer
      main:
        type: string
    type: object
  types.WeatherResponse:
    properties:
      clouds:
        properties:
          all:
            type: integer
        type: object
      cod:
        type: integer
      coord:
        properties:
          lat:
            type: number
          lon:
            type: number
        type: object
      dt:
        description: Timestamp
        type: integer
      main:
        properties:
          feels_like:
            type: number
          grnd_level:
            type: integer
          humidity:
            type: integer
          pressure:
            type: integer
          sea_level:
            type: integer
          temp:
            type: number
          temp_max:
            type: number
          temp_min:
            type: number
        type: object
      name:
        type: string
      sys:
        properties:
          country:
            type: string
          sunrise:
            type: integer
          sunset:
            type: integer
        type: object
      timezone:
        type: integer
      visibility:
        type: integer
      weather:
        items:
          properties:
            description:
              type: string
            icon:
              type: string
            id:
              type: integer
            main:
              type: string
          type: object
        type: array
      wind:
        properties:
          deg:
            type: integer
          gust:
            type: number
          speed:
            type: number
        type: object
    type: object
  types.Wind:
    properties:
      deg:
        type: integer
      gust:
        type: number
      speed:
        type: number
    type: object
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: API for fetching weather data
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Weather API
paths:
  /weather/{city}:
    get:
      consumes:
      - application/json
      description: Fetches the current weather data for a specified city
      parameters:
      - description: City Name
        in: path
        name: city
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/types.WeatherResponse'
        "400":
          description: Bad Request
          schema: {}
        "404":
          description: Not Found
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      summary: Fetches current weather by city
      tags:
      - weather
  /weather/coords/{latitude}/{longitude}:
    get:
      consumes:
      - application/json
      description: Fetches the current weather data for a specified latitude and longitude
      parameters:
      - description: Latitude
        in: path
        name: latitude
        required: true
        type: string
      - description: Longitude
        in: path
        name: longitude
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/types.WeatherResponse'
        "400":
          description: Bad Request
          schema: {}
        "404":
          description: Not Found
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      summary: Fetches current weather by coordinates (latitude and longitude)
      tags:
      - weather
  /weather/forecast/{city}:
    get:
      consumes:
      - application/json
      description: Fetches the weather forecast data for a specified city
      parameters:
      - description: City Name
        in: path
        name: city
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/types.ForecastResponse'
        "400":
          description: Bad Request
          schema: {}
        "404":
          description: Not Found
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      summary: Fetches weather forecast by city
      tags:
      - weather
  /weather/forecast/coords/{latitude}/{longitude}:
    get:
      consumes:
      - application/json
      description: Fetches the weather forecast data for a specified latitude and
        longitude
      parameters:
      - description: Latitude
        in: path
        name: latitude
        required: true
        type: string
      - description: Longitude
        in: path
        name: longitude
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/types.ForecastResponse'
        "400":
          description: Bad Request
          schema: {}
        "404":
          description: Not Found
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      summary: Fetches weather forecast by coordinates (latitude and longitude)
      tags:
      - weather
securityDefinitions:
  ApiKeyAuth:
    description: API key authentication for accessing weather data
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
