definitions:
  main.LoginUserPayload:
    properties:
      email:
        maxLength: 255
        type: string
      password:
        maxLength: 72
        minLength: 3
        type: string
    required:
    - email
    - password
    type: object
  store.City:
    properties:
      coord:
        $ref: '#/definitions/store.Coord'
      country:
        type: string
      id:
        type: integer
      name:
        type: string
      population:
        type: integer
      sunrise:
        type: integer
      sunset:
        type: integer
      timezone:
        type: integer
    type: object
  store.Clouds:
    properties:
      all:
        type: integer
    type: object
  store.Coord:
    properties:
      lat:
        type: number
      lon:
        type: number
    type: object
  store.DailyForecast:
    properties:
      apparent_temperature_max:
        items:
          type: number
        type: array
      apparent_temperature_min:
        items:
          type: number
        type: array
      time:
        items:
          type: string
        type: array
      weather_code:
        items:
          type: integer
        type: array
    type: object
  store.DailyUnits:
    properties:
      apparent_temperature_max:
        type: string
      apparent_temperature_min:
        type: string
      time:
        type: string
      weather_code:
        type: string
    type: object
  store.ForecastItem:
    properties:
      clouds:
        $ref: '#/definitions/store.Clouds'
      dt:
        type: integer
      dt_txt:
        type: string
      main:
        $ref: '#/definitions/store.Main'
      pop:
        type: number
      sys:
        $ref: '#/definitions/store.Sys'
      visibility:
        type: integer
      weather:
        items:
          $ref: '#/definitions/store.Weather'
        type: array
      wind:
        $ref: '#/definitions/store.Wind'
    type: object
  store.ForecastResponse:
    properties:
      city:
        $ref: '#/definitions/store.City'
      cnt:
        type: integer
      cod:
        type: string
      list:
        items:
          $ref: '#/definitions/store.ForecastItem'
        type: array
      message:
        type: integer
    type: object
  store.HourlyForecast:
    properties:
      temperature_2m:
        items:
          type: number
        type: array
      time:
        items:
          type: string
        type: array
    type: object
  store.HourlyUnits:
    properties:
      temperature_2m:
        type: string
      time:
        type: string
    type: object
  store.Main:
    properties:
      feels_like:
        type: number
      grnd_level:
        type: integer
      humidity:
        type: integer
      pressure:
        type: integer
      sea_level:
        type: integer
      temp:
        type: number
      temp_kf:
        type: number
      temp_max:
        type: number
      temp_min:
        type: number
    type: object
  store.OpenMeteoResponse:
    properties:
      daily:
        $ref: '#/definitions/store.DailyForecast'
      daily_units:
        $ref: '#/definitions/store.DailyUnits'
      elevation:
        type: number
      generationtime_ms:
        type: number
      hourly:
        $ref: '#/definitions/store.HourlyForecast'
      hourly_units:
        $ref: '#/definitions/store.HourlyUnits'
      latitude:
        type: number
      longitude:
        type: number
      timezone:
        type: string
      timezone_abbreviation:
        type: string
      utc_offset_seconds:
        type: integer
    type: object
  store.Role:
    properties:
      description:
        type: string
      id:
        type: integer
      level:
        type: integer
      name:
        type: string
    type: object
  store.Sys:
    properties:
      pod:
        type: string
    type: object
  store.User:
    properties:
      created_at:
        type: string
      email:
        type: string
      email_verified:
        type: boolean
      id:
        type: integer
      role:
        $ref: '#/definitions/store.Role'
      role_id:
        type: integer
      username:
        type: string
    type: object
  store.Weather:
    properties:
      description:
        type: string
      icon:
        type: string
      id:
        type: integer
      main:
        type: string
    type: object
  store.WeatherResponse:
    properties:
      clouds:
        $ref: '#/definitions/store.Clouds'
      cod:
        type: integer
      coord:
        $ref: '#/definitions/store.Coord'
      dt:
        description: Timestamp
        type: integer
      main:
        properties:
          feels_like:
            type: number
          grnd_level:
            type: integer
          humidity:
            type: integer
          pressure:
            type: integer
          sea_level:
            type: integer
          temp:
            type: number
          temp_max:
            type: number
          temp_min:
            type: number
        type: object
      name:
        type: string
      sys:
        properties:
          country:
            type: string
          sunrise:
            type: integer
          sunset:
            type: integer
        type: object
      timezone:
        type: integer
      visibility:
        type: integer
      weather:
        items:
          $ref: '#/definitions/store.Weather'
        type: array
      wind:
        $ref: '#/definitions/store.Wind'
    type: object
  store.Wind:
    properties:
      deg:
        type: integer
      gust:
        type: number
      speed:
        type: number
    type: object
info:
  contact: {}
paths:
  /authentication/login:
    post:
      consumes:
      - application/json
      description: Creates a token for a user
      parameters:
      - description: User credentials
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/main.LoginUserPayload'
      produces:
      - application/json
      responses:
        "200":
          description: Token
          schema:
            type: string
        "400":
          description: Bad Request
          schema: {}
        "401":
          description: Unauthorized
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      summary: Creates a token
      tags:
      - authentication
  /health:
    get:
      description: Healthcheck endpoint
      produces:
      - application/json
      responses:
        "200":
          description: ok
          schema:
            type: string
      summary: Healthcheck
      tags:
      - ops
  /users/{id}:
    get:
      consumes:
      - application/json
      description: Fetches a user profile by ID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/store.User'
        "400":
          description: Bad Request
          schema: {}
        "404":
          description: Not Found
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      security:
      - ApiKeyAuth: []
      summary: Fetches a user profile
      tags:
      - users
  /weather/{city}:
    get:
      consumes:
      - application/json
      description: Fetches the current weather data for a specified city
      parameters:
      - description: City Name
        in: path
        name: city
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/store.WeatherResponse'
        "400":
          description: Bad Request
          schema: {}
        "404":
          description: Not Found
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      summary: Fetches current weather by city
      tags:
      - weather
  /weather/coords/{latitude}/{longitude}:
    get:
      consumes:
      - application/json
      description: Fetches the current weather data for a specified latitude and longitude
      parameters:
      - description: Latitude
        in: path
        name: latitude
        required: true
        type: string
      - description: Longitude
        in: path
        name: longitude
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/store.WeatherResponse'
        "400":
          description: Bad Request
          schema: {}
        "404":
          description: Not Found
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      summary: Fetches current weather by coordinates (latitude and longitude)
      tags:
      - weather
  /weather/forecast/{city}:
    get:
      consumes:
      - application/json
      description: Fetches the weather forecast data for a specified city
      parameters:
      - description: City Name
        in: path
        name: city
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/store.ForecastResponse'
        "400":
          description: Bad Request
          schema: {}
        "404":
          description: Not Found
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      summary: Fetches weather forecast by city
      tags:
      - weather
  /weather/forecast/coords/{latitude}/{longitude}:
    get:
      consumes:
      - application/json
      description: Fetches the weather forecast data for a specified latitude and
        longitude
      parameters:
      - description: Latitude
        in: path
        name: latitude
        required: true
        type: string
      - description: Longitude
        in: path
        name: longitude
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/store.ForecastResponse'
        "400":
          description: Bad Request
          schema: {}
        "404":
          description: Not Found
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      summary: Fetches weather forecast by coordinates (latitude and longitude)
      tags:
      - weather
  /weather/open-meteo/coords/{latitude}/{longitude}:
    get:
      consumes:
      - application/json
      description: Fetches the open meteo data for a specified latitude and longitude
      parameters:
      - description: Latitude
        in: path
        name: latitude
        required: true
        type: string
      - description: Longitude
        in: path
        name: longitude
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/store.OpenMeteoResponse'
        "400":
          description: Bad Request
          schema: {}
        "404":
          description: Not Found
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      summary: Fetches open meteo by coordinates (latitude and longitude)
      tags:
      - weather
swagger: "2.0"
